<div class="row">
    <div *ngFor="let item of item" class="col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <img src={{item.pic}}>
            <div class="card-header text-center">{{item.name}}
                <div class="card-body">
                    <h4 class="card-title">{{item.price}}</h4>
                    <p class="card-text">{{item.description}}</p>
                    <button routerLink="/Itemdetails/{{item.id}}">View More</button>
                  </div>
            </div>
        </div>
    </div>
</div>