<div class="container">
<div class="jumbotron" *ngIf="item">
    <section class="get-in-touch">
    
    <a routerLink="/viewlists" class="text-decoration-none">Back To View List</a>

    <h1 class="title">Good Day!</h1>
    
    <div class="a">
      <p class="lead">I want <a routerLink="/viewdetails/{{item.id}}" class="text-decoration-none">{{item.pname}}</a> with Product ID: <a routerLink="/viewdetails/{{item.id}}" class="text-decoration-none">{{item.id}}</a>.
    </div>
    <div class="form-group">
      <h3>Hi I am</h3>
      <label class="col-form-label mt-4" for="inputDefault"></label>
      <input type="text" class="form-control" placeholder="" id="inputDefault">
    </div>
    <div class="form-group">
      <h3>My Email is</h3>
      <label class="col-form-label mt-4" for="inputDefault"></label>
      <input type="text" class="form-control" placeholder="" id="inputDefault">
    </div>
    <div class="form-group">
      <h3>I would like to say</h3>
      <label for="exampleTextarea" class="form-label mt-4"></label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    </section>
    </div>
</div>